[submodule "kt-client/aw-watcher-afk"]
	path = kt-client/aw-watcher-afk
	url = git@github.com:ncc-sg/aw-watcher-afk.git
[submodule "kt-client/aw-watcher-window"]
	path = kt-client/aw-watcher-window
	url = git@github.com:ncc-sg/aw-watcher-window.git
