
[submodule "kt-watcher-window"]
	path = kt-watcher-window
	url = https://github.com/ActivityWatch/aw-watcher-window.git

[submodule "kt-watcher-afk"]
	path = kt-watcher-afk
	url = https://github.com/ActivityWatch/aw-watcher-afk.git
