[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = git@github.com:ncc-sg-komutracker/aw-watcher-afk.git
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = git@github.com:ncc-sg-komutracker/aw-watcher-window.git
